<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker-bs5.min.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>
 
  <body>
    <header class="front-over">
      <nav class="navbar navbar-expand-md py-2 mb-9">
        <div class="container">
          <div class="logo">
            <a href="./index.html">
              <h4 class="text-white">✤ 樸食手作</h4>
            </a>
          </div>
        </div>
      </nav>
      <h1>樸食手作。</h1>
      <h4 class="top">嚴選食材•手工現做</h4>
      <h4 class="bottom"></h4>
    </header>

    <%- contents %>

    <footer class="container-fluid text-center py-2">
      <p class="line-height-sm text-light text-center mb-0">Side Project</p>
    </footer>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>